<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Log in!</title>
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('login') }}>

        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('login') }}
    </head>
    <body class="text-center">
        <form class="form-signin" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <label for="inputUsername" class="sr-only">Email address</label>
            <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" value="{{ last_username }}" required autofocus>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </body>
</html>
